[includeIf "gitdir:~/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/lm/"]
  path = .gitconfig-work

[credential]
  helper = osxkeychain

[alias]
  lola = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
  lols = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --stat
  s = status -s

[difftool]
  prompt = true

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[pull]
  rebase = true

[rebase]
  autoStash = true

[push]
  default = current

[color]
  ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[core]
  pager = delta
  editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
